.bg {
    background-image: url("https://i.etsystatic.com/20234042/r/il/9ac39c/2299304860/il_794xN.2299304860_eq85.jpg");
    height: 100%;
    background-position: top;
     background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    padding: 5px;
}

.grid1 {
    background-color: rgba(206,205,203,0.8);
    width: 60%;
    margin-top: 5%;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    margin-bottom: 10%;
    
}

.imgA {
    float: left;
    margin-right: 10px;
    width: 20%;
}
.clearfix {
    clear: both;
    display: table;
  }

.wrapper {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid
}

.foliomargin {
    margin-bottom: 10px;
    text-align: center;
}

footer {
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 10px;
}

.rowF {
    background-color: rgba(206,205,203);
}

.icon {
   width: 25px; 
    text-align: center;
}