/* background and elements */
.bg {
    background-image: url("https://i.etsystatic.com/20234042/r/il/9ac39c/2299304860/il_794xN.2299304860_eq85.jpg");
    height: 100%;
    background-position: top;
     background-repeat: no-repeat;
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    width: 100%;
}

h5 {
    opacity: .3;
    width: 100%;
    overflow: hidden;
    }

textarea {
    width: 100%;
    }

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    }
   
img {
    width: 100%;
    padding: 10px;
    }    

 /*classes */ 
.grid1 {
    background-color: rgba(206,205,203,0.8);
    width: 60%;
    margin-top: 15%;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
    margin-bottom: 10%;  
}

.imgA {
    float: left;
    margin-right: 5%;
    width: 20%;
}
.clearfix {
    clear: both;
    display: table;
  }

.foliomargin {
    margin-bottom:10px;
    text-align:center;
}

.form-group .form-floating {
    margin: 10px;
}

.icon {
    width: 8%; 
     text-align: center;
 }

